<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome to my Homepage!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is the personal blog from Sandrine Müller</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{username: account.login}"> You are logged in as user "{{account.login}}". </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any questions, you can contact me:
        </p>

        <ul>
            <li><a href="https://www.facebook.com/sandrine.mueller" target="_blank" rel="noopener" jhiTranslate="home.link.facebook">follow Sandrine Müller on Facebook</a></li>
            <li><a href="https://twitter.com/sandrinemller" target="_blank" rel="noopener" jhiTranslate="home.link.follow">follow @SandrineMller on Twitter</a></li>
        </ul>
    </div>
</div>
