
<div>
    <h2 id="page-heading">
        <span jhiTranslate="insider.title">Insider</span>
    </h2>
    <h5>
        <span jhiTranslate="insider.subtitle">Hier erfährst du...</span>
    </h5>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'blogApp.post.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <div *ngFor="let post of posts; trackBy: trackId">
                <h2>{{post.title}}</h2>
                <small>Posted on {{post.date | date: 'short'}}</small>
                <div [innerHTML]="post.content"></div>
                <br/>
            </div>
        </div>
    </div>
</div>
