<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">
            <h2><span jhiTranslate="blogApp.post.detail.title">Post</span> {{post.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blogApp.post.title">Title</span></dt>
                <dd>
                    <span>{{post.title}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.post.content">Content</span></dt>
                <dd>
                    <span>{{post.content}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.post.date">Date</span></dt>
                <dd>
                    <span>{{post.date}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.post.isPublished">Is Published</span></dt>
                <dd>
                    <span>{{post.isPublished}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.post.isCommentAllowed">Is Comment Allowed</span></dt>
                <dd>
                    <span>{{post.isCommentAllowed}}</span>
                </dd>
                <dt><span jhiTranslate="blogApp.post.blog">Blog</span></dt>
                <dd>
                    <div *ngIf="post.blog">
                        <a [routerLink]="['/blogadmin', post.blog?.id, 'view']">{{post.blog?.title}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/postadmin', post.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
